In [3]:
import os

# Affiche le répertoire courant
current_directory = os.getcwd()
print("Répertoire courant :", current_directory)

Répertoire courant : /Users/NDAO028930/Documents/docs/mmi/parcours data engineer/projets/JobMarket/processing

In [4]:
import sys
sys.path.append('../')

import pandas as pd
from tqdm import tqdm
tqdm.pandas()  # Initialiser tqdm pour pandas
from common.utils import translate_french_to_english
from common.utils import clean_text
import pickle
from datetime import datetime

ModuleNotFoundError: No module named 'configs.conf'

In [7]:
countries = ['be','ca','ch','de','es','fr','gb','in','it','mx','nl','nz','pl','sg','us','za']

#jobs_adzuna= pd.read_pickle('../outputs/raw/jobs_adzuna_sept.pkl')
jobs_adzuna= pd.read_pickle('../outputs/raw/jobs_adzuna_us_nov.pkl')
jobs_adzuna_test_country= pd.read_pickle('../outputs/raw/jobs_adzuna_fr_nov.pkl')

jobs_themuse = pd.read_pickle('../outputs/raw/jobs_muse_sept.pkl')
jobs_wttj = pd.read_pickle('../outputs/raw/jobs_wttj_aout.pkl')
#jobs_linkedin = pd.read_pickle('../outputs/raw/jobs_linkedin_sept.pkl')
jobs_linkedin_1 = pd.read_pickle('../outputs/raw/jobs_linkedin_sept.pkl')
jobs_linkedin_2 = pd.read_pickle('../outputs/raw/jobs_linkedin_nov.pkl')
jobs_linkedin_3 = pd.read_pickle('../outputs/raw/jobs_linkedin_nov_5.pkl')
jobs_linkedin_4 = pd.read_pickle('../outputs/raw/jobs_linkedin_nov_10.pkl')
jobs_linkedin_5 = pd.read_pickle('../outputs/raw/jobs_linkedin_nov_15.pkl')
jobs_linkedin_dup = pd.concat([jobs_linkedin_1,jobs_linkedin_2,jobs_linkedin_3,jobs_linkedin_4,jobs_linkedin_5], ignore_index=True)
jobs_linkedin = jobs_linkedin_dup.drop_duplicates()



links_linkedin = pd.read_pickle('../outputs/raw/company_links_nov_10.pkl')


companies_linkedin_1 = pd.read_pickle('../outputs/raw/companies_linkedin_nov.pkl')
companies_linkedin_2 = pd.read_pickle('../outputs/raw/companies_linkedin_nov_5.pkl')
companies_linkedin_3 = pd.read_pickle('../outputs/raw/companies_linkedin_nov_10.pkl')
companies_linkedin_4 = pd.read_pickle('../outputs/raw/companies_linkedin_nov_15.pkl')
companies_linkedin_dup = pd.concat([companies_linkedin_1,companies_linkedin_2,companies_linkedin_3,companies_linkedin_4], ignore_index=True)
companies_linkedin = companies_linkedin_dup.drop_duplicates()


#test = jobs_linkedin['company_link'].unique
#print(test)

#jobs_linkedin.head()
companies_linkedin_4.head()


print(len(jobs_linkedin))
#14650 for United States jobs
#1634 in jobs_linkedin_nov_5.pkl
#2078
#7270 all

print(len(companies_linkedin))
#69 in  companies_linkedin_nov_5.pkl
#83 in companies_linkedin_nov_10.pkl
#95 in companies_linkedin_nov_15.pkl
#256 all

jobs = pd.read_pickle('../outputs/final/jobs.pkl')
final_jobs = pd.read_pickle('../outputs/final/jobs.pkl')

#final_companies = pd.read_pickle('../outputs/final/companies.pkl')


import json
import pprint

print(len(final_jobs))
final_jobs.describe
#160188 jobs
#1890 companies
#final_jobs.head()

print(final_jobs.columns.tolist())

jobs_full = jobs[['job_title', 'contract_time', 'company_name', 'salary_min', 'salary_max', 'publication_datetime', 'location', 'industry', 'offer_link', 'source', 'levels', 'category', 'contents', 'publication_time', 'publication_date', 'contract_type', 'country', 'state', 'city', 'postcode', 'latitude', 'longitude', 'currency_name', 'job_description', 'type_contract', 'addressCountry']]
jobs_full.head()

#['job_title', 'contract_time', 'company_name', 'salary_min', 'salary_max', 'publication_datetime', 'location', 'industry', 'offer_link', 'source', 'levels', 'category', 'contents', 'publication_time', 'publication_date', 'contract_type', 'country', 'state', 'city', 'postcode', 'latitude', 'longitude', 'currency_name', 'job_description', 'type_contract', 'addressCountry']



#jobs_json = json.dumps(json.loads(jobs_full.to_json(orient="records")))
#json_data = jobs_full.to_json(orient='records')

#pprint.pprint(json_data, compact=True)

7270
256
160188
['job_title', 'contract_time', 'company_name', 'salary_min', 'salary_max', 'publication_datetime', 'location', 'industry', 'offer_link', 'source', 'levels', 'category', 'contents', 'publication_time', 'publication_date', 'contract_type', 'country', 'state', 'city', 'postcode', 'latitude', 'longitude', 'currency_name', 'job_description', 'country_adzuna', 'type_contract', 'addressCountry', 'postalCode_wttj', 'streetAdress_wttj', 'currency_wttj']

,job_title,contract_time,company_name,salary_min,salary_max,publication_datetime,location,industry,offer_link,source,...,country,state,city,postcode,latitude,longitude,currency_name,job_description,type_contract,addressCountry
0,Storyboard Artist - Unannounced Disney Junior ...,Full-time,The Walt Disney Company,"$65,000.00","$95,000.00",2024-11-09,"Glendale, CA",Entertainment Providers,https://www.linkedin.com/jobs/view/storyboard-...,linkedin,...,United States,California,Glendale,91206,34.1469416,-118.2478471,US Dollar,NaN,NaN,NaN
1,Private Equity Associate,Full-time,"HRPivot, Inc",,,2024-11-09,"Chicago, IL",Internet Publishing,https://www.linkedin.com/jobs/view/private-equ...,linkedin,...,United States,Illinois,Chicago,60604,41.8755616,-87.6244212,US Dollar,NaN,NaN,NaN
2,Photographer,Full-time,CoCreativ,,,2024-11-09,"New York, NY",Software Development,https://www.linkedin.com/jobs/view/photographe...,linkedin,...,United States,New York,City of New York,10000,40.7127281,-74.0060152,US Dollar,NaN,NaN,NaN
3,"Coordinator, Events (Hulu)",Full-time,The Walt Disney Company,,,2024-11-09,"Santa Monica, CA",Government Administration and Strategic Manage...,https://www.linkedin.com/jobs/view/coordinator...,linkedin,...,United States,California,Santa Monica,90401,34.0194704,-118.491227,US Dollar,NaN,NaN,NaN
4,Remote Sports Events Coordinator,Full-time,LC LUXE,$30.00,$35.00,2024-11-09,"Los Angeles, CA",IT Services and IT Consulting,https://www.linkedin.com/jobs/view/remote-spor...,linkedin,...,United States,California,Los Angeles,90012,34.0536909,-118.242766,US Dollar,NaN,NaN,NaN

In [36]:
jobs_full_title = jobs_full[jobs_full["job_title"] == "Photographer"]

jobs_full_country = jobs_full[jobs_full["country"] == "India"]


jobs_full_country.head()

,job_title,contract_time,company_name,salary_min,salary_max,publication_datetime,location,industry,offer_link,source,...,country,state,city,postcode,latitude,longitude,currency_name,job_description,type_contract,addressCountry
177,Product Architect - Teamcenter,not available,Siemens,0,0,2023-04-18T23:40:33Z,"'Hyderabad, India'",not available,https://www.themuse.com/jobs/siemens/product-a...,TheMuse,...,India,Telangana,Hyderabad,500002,17.360589,78.4740613,Indian Rupee,<p>Siemens Digital Industries Softwareis a lea...,NaN,NaN
189,Technical Consulting Engineer- Security/Firewa...,not available,Cisco Meraki,0,0,2023-06-23T10:14:11Z,"'Bangalore, India'",not available,https://www.themuse.com/jobs/ciscomeraki/techn...,TheMuse,...,India,Karnataka,Bengaluru,560008,12.98815675,77.62260003796,Indian Rupee,<p><strong>Who You'll Work With<br></strong> <...,NaN,NaN
268,Software Engineer II- Frontend,not available,Uber,0,0,2024-09-05T12:44:48Z,"'Bangalore, India'",not available,https://www.themuse.com/jobs/uber/software-eng...,TheMuse,...,India,Karnataka,Bengaluru,560008,12.98815675,77.62260003796,Indian Rupee,<p><strong>About the Role</strong><br><br>The ...,NaN,NaN
282,Customer Success Specialist- NX,not available,Cisco Meraki,0,0,2023-06-16T10:14:50Z,"'Bangalore, India'",not available,https://www.themuse.com/jobs/ciscomeraki/custo...,TheMuse,...,India,Karnataka,Bengaluru,560008,12.98815675,77.62260003796,Indian Rupee,<p><strong>What You'll Do</strong><br> <br>The...,NaN,NaN
297,Executive Bidding - Locomotive,not available,Siemens,0,0,2023-04-25T23:44:24Z,"'Gurgaon, India'",not available,https://www.themuse.com/jobs/siemens/executive...,TheMuse,...,India,Haryana,Gurgaon,122001,28.4646148,77.0299194,Indian Rupee,<p><strong>Executive Bidding - Locomotive </st...,NaN,NaN

In [ ]:
import glob
raw_path = '../outputs/raw/'
files_linkedin = pd.read_pickle('../outputs/raw/companies_linkedin_nov_5.pkl')

#files_linkedin = glob.glob(f'{raw_path}*companies_linkedin*.pkl')
#companies_linkedin = pd.concat([pd.read_pickle(file) for file in files_linkedin], axis=0)
files_linkedin[files_linkedin.company_name =='Meta']

,company_name,company_description,company_website,company_industries,company_size,company_associated_members,company_location,company_creation_date,company_specialities,company_links,source,ingest_date
20,Meta,SIHAT HOME offre des services de consultations...,https://info.danielshealth.com/l/984121/2022-1...,Software Development,"10,001+ employees",LinkedIn members who’ve listed Sihat Home as t...,"Roaring Spring, PA",2016,None,https://www.linkedin.com/company/meta?trk=publ...,linkedin,2024-11-13 13:50:46.621730

In [ ]:
#python3.11 -m pip install --upgrade pip
#pip3 install geopy
#pip3 install mpu

SyntaxError: invalid syntax (2313443690.py, line 3)

In [ ]:
from geopy.geocoders import Nominatim
import pycountry
import mpu

# Provide a unique and descriptive user_agent
geolocator = Nominatim(user_agent="my_geolocation_app_v1.0")
location = geolocator.geocode("El Paso, El Paso County")
print(location.address)

print((location.latitude, location.longitude))

latitude = str(location.latitude)
longitude = str(location.longitude)

location_reverse = geolocator.reverse(latitude+","+longitude)
address = location_reverse.raw['address']
print(address)

country = address.get('country', '')
print(country)

city = address.get('city', '')
print(city)

country_code = address.get('country_code', '')
print(country_code)

country_inf = pycountry.countries.get(name=country)
print(country_inf)

currency = pycountry.currencies.get(numeric=country_inf.numeric)
print(currency)
print(currency.name)
print(currency.alpha_3)




#currency = mpu.units.get_currency(country.upper)
#print(currency)

#currency = pycountry.currencies.get(letter=country.upper())
#print(country)

#location = geolocator.geocode("175 5th Avenue NYC")
#print(location.address)

El Paso, El Paso County, Texas, United States
(31.7601164, -106.4870404)
{'house_number': '299', 'road': 'East Mills Avenue', 'quarter': 'Downtown Historic District', 'city': 'El Paso', 'county': 'El Paso County', 'state': 'Texas', 'ISO3166-2-lvl4': 'US-TX', 'postcode': '79901', 'country': 'United States', 'country_code': 'us'}
United States
El Paso
us
Country(alpha_2='US', alpha_3='USA', flag='🇺🇸', name='United States', numeric='840', official_name='United States of America')
Currency(alpha_3='USD', name='US Dollar', numeric='840')
US Dollar
USD

In [24]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)
#Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
#print((location.latitude, location.longitude))
#(40.7410861, -73.9896297241625)
#print(location.raw)
#{'place_id': '9167009604', 'type': 'attraction', ...}

ConfigurationError: Using Nominatim with default or sample `user_agent` "specify_your_app_name_here" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.

In [ ]:
import os
os._exit(00)

: